.inner {
  width: 100%;
  max-width: 68em;
  margin: 0 auto;
  padding: 0 2.5em;
}

.logo {
  border-bottom: 0;
  color: inherit;
  font-weight: 900;
  letter-spacing: 0.35em;
  margin: 0 0 2.5em 0;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
